.login {
    padding: 150px 20px 70px 30px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.login .img-box {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}


.login-box {
    text-align: center;
    margin-top: 180px;
    padding: 0 20px;
}

.login p {
    color: #808080;
    font-size: 12px;
    font-weight: 400;
}

.login h5 {
    font-size: 32px;
    font-weight: 700;
    color: #2B2129;
    margin-bottom: 20px;
}

.login-box input {
    border-radius: 20px;
    box-sizing: border-box;
    max-width: 100%;
    padding: 13px;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.login-box button.log-b {
    background-color: #FB641B;
    border-radius: 20px;
    box-sizing: border-box;
    max-width: 100%;
    padding: 13px;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 14px;
}

.login-box p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #000;
    margin-bottom: 10px;
}

.login-box .reg {
    outline: none;
    background: transparent;
    border: none;
    color: #346F32;
    font-weight: 600;
    font-size: 16px;
    border-bottom: 2px solid #346F32;
}