.conditions {
    padding: 20px 50px;
    width: 70%;
    margin: 0 auto;
}

.conditions .head {
    background-color: #fb661b39;
    padding: 9px;
    width: 50%;
    margin-bottom: 20px;
}

.conditions h6 {
    font-size: 14px;
    font-weight: 600;
    color: #2B2129;
    margin: 0;
}

.conditions p {
    font-size: 12px;
    font-weight: 400;
}

.conditions button {
    background-color: #346F32;
    border-radius: 20px;
    color: #fff;
    padding: 14px 0;
    text-align: center;
    width: 40%;
    border: none;
    outline: none;
    display: block;
    margin: 50px auto 0;
}

@media (max-width: 1000px) {
    .conditions {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .conditions {
        width: 90%;
    }
}

@media (max-width: 640px) {
    .conditions {
        width: 100%;
    }
}