.success {
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60%;
    margin: auto;
    overflow: hidden;

}

.success ::-webkit-scrollbar {
    display: none;
}

.congrats {
    /* margin-bottom: 90px; */
    position: absolute;
    top: 130px;
    opacity: 0;
    animation: congrats 2s ease-in-out forwards;
    animation-delay: .5s;
}

@keyframes congrats {
    0% {
        top: 130px;
        opacity: 0;
    }

    100% {
        top: 80px;
        opacity: 1;
    }

}

.success .img-gif {
    width: 300px;
}

.success .img-gif img {
    display: block;
    width: 100%;
}

.animation-container {
    height: 300px;
    width: 300px;
}

.animation-container .circle {
    display: block;
    width: 600px;
    height: 600px;

    background: #346f32;
    position: fixed;
    bottom: -50%;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transition: 1s ease;
    animation: circle 2s ease-in-out forwards;
}

.animation-container .star-box {
    position: absolute;
    z-index: 5;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) scale(0);
    animation: star 2s ease-in-out forwards;
    animation-delay: 1s;
}


@keyframes circle {
    0% {
        bottom: -50%;
        transform: translateX(-50%) scale(0);
    }

    100% {
        left: 50%;
        transform: translateX(-50%) scale(3);
    }

}

@keyframes star {
    0% {

        transform: translate(50%, -50%) scale(0);
    }

    100% {
        transform: translate(50%, -50%) scale(1);
    }

}

.tickets {
    position: fixed;
    z-index: 99;
    display: flex;
    overflow: auto;
    width: 100%;
    padding-left: 30px;
    /* margin-left: 40px; */
    opacity: 0;
    animation: tickets 2s ease-in-out forwards;
    animation-delay: 2s
}

.tickets img {
    width: 350px;
}

@keyframes tickets {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);

        opacity: 1;
    }

}



.bottom-btn {
    position: fixed;
    bottom: 20px;
    z-index: 55;
    width: 90%;
    background: yellow;
    border: none;
    padding: 12px 20px;
    border-radius: 16px;
    animation: btn 1s ease-in-out forwards;
    animation-delay: 3s;
    opacity: 0;
}

@keyframes btn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@media (max-width:1555px) {
    .animation-container .circle {
        width: 500px;
        height: 500px;
        bottom: -60%;
    }

    .tickets {
        bottom: 200px;
        right: -75%;
        width: 100%;
        transform: translateX(-50%) !important;
    }

    .bottom-btn {
        width: 400px;
    }

    .animation-container .star-box {
        bottom: 200px;
    }


}

@media (max-width: 660px) {
    .success {
        width: 100%;
    }

    .tickets {
        right: -50%;
    }
}

.win {
    position: relative;
    z-index: 99;
    text-align: center;
    padding-top: 50px;
    color: #fff;
    opacity: 0;
    animation: win 1s ease-in-out forwards;
    animation-delay: 5s;

}

.win h3 {
    font-size: 20px;
}


@keyframes win {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}