.web-topnav {
    height: 100px;
    background-color: #346F32;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.web-topnav .logo-nav {
    width: 200px;
}

.web-topnav .logo-nav img {
    width: 100%;
    display: block;
}

@media (max-width: 800px) {
    .web-topnav {
        padding: 0 60px;
    }
}

@media (max-width: 480px) {
    .topnav {
        height: 80px;
        background-color: #346F32;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .topnav h5 {
        border-radius: 20px;
        color: #fff;
        text-align: center;
        margin: 0;
        font-size: 16px;
    }

    .topnav .back-arrow svg {
        color: #fff;
        font-size: 20px;
        position: absolute;
        left: 26px;
        top: 30px;
    }
}