/* web */
.head-web {
    background: #346F32;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}

.head-web .web-logo {
    width: 200px;
}

.head-web .web-logo img {
    display: block;
    width: 100%;
}

.head-web .nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

.head-web .nav li {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.link.active {
    color: #FFEE01;
}


@media (max-width: 1280px) {
    .head-web {
        padding: 0 50px;
    }
}

@media (max-width: 1000px) {
    .head-web {
        padding: 0 40px;
    }

    .head-web .nav {
        gap: 40px;
    }
}

/* web-end */

@media (max-width: 870px) {
    header {
        background: #346F32;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }

    header h3 {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
    }

    header img {
        display: block;
        width: 100%;
    }

    .user-img {
        width: 50px;
    }

    .boche-logo {
        width: 50px;
    }
}