@media (max-width: 480px) {
    .bottom-nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 80px;
        background: #346F32;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 0;
        padding: 0;
    }

    .nav-bar li {
        color: #fff;
        text-align: center;
    }

    .link.active {
        color: #FFEE01;
    }

    .link.active img {
        fill: yellow;
    }

    .link {
        color: #fff;
        text-decoration: none;
    }

    .nav-bar li img {
        display: block;
        width: 30px;
        margin: 0 auto;
    }
}