.spotlight {
    background-color: #E9FFE8;
    padding: 40px 150px;
}

.spotlight .top-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.spotlight .spot-web {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spotlight .top-box .help {
    border-radius: 35px;
    padding: 8px 12px;
    background-color: #008ECB;
    display: flex;
    align-items: center;
    gap: 4px;
    width: 90px;
    justify-content: center;
}

.spotlight .top-box h6 {
    color: #346F32;
    font-weight: 400;
    font-family: "Preahvihear", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0;
    font-size: 20px;
}

.spotlight .top-box h6 span {
    color: #FEC700;
}

.spotlight .top-box .help p,
.spotlight .top-box .help svg {
    color: #fff;
    font-size: 12px;
}

.spotlight form {
    display: flex;
    position: relative;
    align-items: center;
    width: 40%;
}

.spotlight input {
    background-color: #FFFFFF;
    border-radius: 21px;
    box-sizing: border-box;
    outline: none;
    border: none;
    width: 100%;
    padding: 16px 20px;
    z-index: 2;
}

.spotlight button {
    background-color: #346F32;
    padding: 10px 18px;
    border-radius: 20px;
    border: none;
    outline: none;
    position: absolute;
    right: 4px;
    top: 7px;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
    z-index: 2;
}

.wallet-show {
    display: flex;
    justify-content: space-between;
    background-color: #00890F;
    border-radius: 16px;
    padding: 10px 14px;
    box-sizing: border-box;
    align-items: center;
    width: 40%;
}

.wallet-show p {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.wallet-show h6 {
    font-size: 32px;
    font-weight: 600;
}

.wallet-show .deposit {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #FFFFFF26;
    border-radius: 27px;
    padding: 10px 9px;
    gap: 4px;
}

@media (max-width: 1000px) {
    .spotlight {
        padding: 40px 100px;
    }

    .spotlight form {
        width: 48%;
    }

    .wallet-show {
        width: 48%;
    }
}


@media (max-width: 800px) {
    .spotlight .spot-web {
        flex-direction: column;
        justify-content: start;
    }

    .spotlight {
        padding: 40px;
        height: 52vh;

    }

    .spotlight .top-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .spotlight .top-box h6 {
        font-size: 16px;
        font-style: normal;
        margin-bottom: 0;
    }


    .spotlight .top-box .help p,
    .spotlight .top-box .help svg {
        font-size: 12px;
    }


    .spotlight form {
        width: 100%;
        margin-bottom: 20px;
    }

    .spotlight input {
        background-color: #FFFFFF;
        border-radius: 21px;
        box-sizing: border-box;
        outline: none;
        border: none;
        width: 100%;
        padding: 16px 20px;
        z-index: 2;
    }


    .spotlight button {
        padding: 10px 18px;
        border-radius: 20px;
        right: 4px;
        top: 7px;
        color: #fff;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 4px;
        z-index: 2;
    }

    .wallet-show {
        display: flex;
        justify-content: space-between;
        background-color: #00890F;
        border-radius: 16px;
        padding: 10px 14px;
        width: 100%;
        box-sizing: border-box;
        align-items: center;
    }

    .wallet-show p {
        font-size: 12px;
        font-weight: 500;
        color: #fff;
    }

    .wallet-show h6 {
        font-size: 32px;
        font-weight: 600;
    }

    .wallet-show .deposit {
        display: flex;
        align-items: center;
        color: #fff;
        background-color: #FFFFFF26;
        border-radius: 27px;
        padding: 10px 9px;
        gap: 4px;
    }

}

@media (max-width: 380px) {
    .spotlight {
        padding: 40px 20px;
    }
}