.withdrawdetails {
    padding: 40px;
}

.withdrawdetails .balance {
    margin-bottom: 50px;
    background-color: #346F32;
    border-radius: 16px;
    padding: 10px 14px;
}


.withdrawdetails .balance h6 {
    font-weight: 600;
    font-size: 35px;
    color: #fff;
}

.withdrawdetails .balance p {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    text-align: left;
}

.withdrawdetails form {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;

}

.withdrawdetails input {
    box-sizing: border-box;
    border: none;
    outline: none;
    text-align: center;
    width: 100%;
    color: #DADADA;
    font-size: 32px;
    font-weight: 500;
}

.withdrawdetails input.enter::placeholder {
    color: #DADADA;
    font-size: 32px;
    font-weight: 500;
}

.withdrawdetails p {
    font-size: 14px;
    color: #2B2129;
    font-weight: 500;
    text-align: center;
}

.withdrawdetails .amounts {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
}

.withdrawdetails .amounts li {
    border-radius: 16px;
    border: 0.3px solid #2B2129;
    width: 100px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.withdrawdetails .amounts li p {
    font-size: 21px;
    font-weight: 700;
    color: #2B2129;
}

.withdrw-bank {
    background-color: #F2F2F2;
    border-radius: 16px;
    padding: 16px 10px;
}

.withdrw-bank h4 {
    font-size: 16px;
    font-weight: 600;
    color: #2B2129;
    margin-bottom: 20px;
}

.withdrw-bank .bank-details {
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 18px 10px;
    background-color: #fff;
    margin-bottom: 14px;
}

.withdrw-bank .bank-details .bank p {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    color: #3f3f3f;
}

.withdrw-bank .edit-change {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.withdrw-bank .edit-change .edit {
    background-color: #E9FFE8;
    border-radius: 36px;
    width: 56px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.withdrw-bank button {
    background-color: #346F32;
    color: #fff;
    padding: 10px 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    border-radius: 31px;
    width: 100%;
}