.selectpayment {
    padding: 50px;
}

.selectpayment .my-wallet {
    padding: 18px 16px;
    border-radius: 16px;
    background-color: #346F32;
    margin-bottom: 20px;
}

.selectpayment h4 {
    font-size: 16px;
    font-weight: 600;
    color: #2B2129;
    margin: 16px 0;
}

.selectpayment .my-wallet h6 {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    margin: 0;
}

.selectpayment p {
    font-size: 40px;
    font-weight: 700;
    color: #346F32;
    text-align: center;
}

.selectpayment .use-wallet {
    background-color: #E9FFE8;
    padding: 18px 16px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.selectpayment .use-wallet h5 {
    font-size: 16px;
    font-weight: 600;
    color: #2B2129;
}

.selectpayment .use-wallet svg {
    color: #000;
}